fullnameOverride: argocd

repoServer:
  extraContainers:
    - name: helmfile-plugin
      # renovate:image
      image: "lucj/argocd-plugin-helmfile:v0.0.13"
      command: ["/var/run/argocd/argocd-cmp-server"]
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /usr/local/sbin/helm
          name: helm-replace
          subPath: helm
      env:
        - name: ENV_NAME
          value: {{ workspace }}

  clusterRoleRules:
    enabled: true
    rules:
      - apiGroups: [""]
        resources:
          - configMap
          - secret
        verbs:
          - get

  volumes:
    - name: helm-replace
      configMap:
        name: helm-replace
        defaultMode: 0777

{% raw %}
extraObjects:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: helm-replace
    data:
      helm: |-
        #!/bin/bash

        if [[ "$1" == "template" ]]; then
          /usr/local/bin/helm "$@" --dry-run=server
        else
          /usr/local/bin/helm "$@"
        fi
{% endraw %}
