apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
skipPhases:
  - addon/kube-proxy
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
apiServer:
  certSANs:
    - k8s.{{ dns_zone }}
  extraArgs:
    - name: service-account-jwks-uri
      value: https://k8s.{{ dns_zone }}:8443/openid/v1/jwks
    - name: oidc-issuer-url
      value: {{ oidc_issuer_url }}
    - name: oidc-client-id
      value: dex-client
    - name: oidc-username-claim
      value: name
    - name: oidc-groups-claim
      value: groups
controllerManager:
  extraArgs:
    - name: node-cidr-mask-size-ipv6
      value: "112"
networking:
  podSubnet: 10.0.0.0/8,fd00::/104
  serviceSubnet: 10.96.0.0/12,fd03::/112
controlPlaneEndpoint: {{ VIP }}:8443
