apiVersion: "cilium.io/v2alpha1"
kind: CiliumBGPPeeringPolicy
metadata:
  name: bgp-config
  namespace: kube-system
spec:
  virtualRouters:
    - localASN: 65021
      exportPodCIDR: true
      neighbors:
{% for address in groups['router'] %}
        - peerAddress: {{ address }}/32
          peerASN: 65020
          gracefulRestart:
            enabled: true
            restartTimeSeconds: 120
{% endfor %}
---
apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: default-pool
  namespace: kube-system
spec:
  cidrs:
{% for item in groups['router'] %}
    - cidr: {{ hostvars[item]['bgp_address'] }}
{% endfor %}
