write-kubeconfig-mode: "0644"
flannel-backend: none
disable:
  - servicelb
  - traefik
  - local-storage
  - metrics-server
disable-cloud-controller: true
disable-kube-proxy: true
disable-network-policy: true
disable-helm-controller: true
tls-san: {{ VIP }}

server: "https://{{ VIP }}:6443"
token: {{ hostvars[groups['delegate_plane'][0]]['token']['stdout'] }}
