global
    user haproxy
    group haproxy

defaults
    mode http
    log global
    retries 3
    timeout connect 60s
    timeout server 60s
    timeout client 60s

frontend kube_api
    # Grobal VIP
    bind {{ VIP }}:6443
    option tcplog
    mode tcp
    default_backend api

backend api
    mode tcp
    balance roundrobin
    option tcp-check
    # k8s addressing
{% for address in groups['control-plane'] %}
    server k8s-control-plane-{{ loop.index }} {{ address }}:6443 check fall 3 rise 2
{% endfor %}
