vrrp_script check_haproxy {
    script "systemctl is-active haproxy" # haproxy というプロセスの存在確認
    interval 1  # 1秒おきに実行
    fall 2      # 2回続けてのの失敗でダウンと判断
    rise 2     # 2回成功で正常と判断
}

vrrp_instance VI_1 {
    state {{ state }}
    interface eth0

    smtp_alert
    virtual_router_id 51     # 同一サブネット内で一意な数字
    priority  {{ priority }}           # 数字の大きい方が control-plane
    advert_int 1            # VRRP パケットの送信間隔

    unicast_peer {          # multicast でなく unicast で ok
        {{ opposite }}       # 相方のアドレスを指定

    }

    virtual_ipaddress {
        {{ VIP }}       # VIP
    }
    track_script {
        check_haproxy
    }
}
