bases:
  - environments.yaml

repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts

releases:
  - name: prometheus
    namespace: prometheus-stack
    chart: prometheus-community/kube-prometheus-stack
    version: 79.4.1
    values:
      - env/common/crds.yaml
      - env/common/prometheus.yaml
      - env/common/grafana.yaml
      - env/{{ .Environment.Name }}/grafana.yaml
  - name: ingress
    namespace: prometheus-stack
    chart: ../../common/ingress
    version: 0.1.0
    values:
      - env/{{ .Environment.Name }}/ingress.yaml
  - name: local-charts
    chart: ./local
