# /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log stdout format raw local0
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          35s
    timeout server          35s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# api_server frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend api_server
    bind *:8443
    mode tcp
    option tcplog
    default_backend api_server_backend

#---------------------------------------------------------------------
# round robin balancing for api_server
#---------------------------------------------------------------------
backend api_server_backend
    option httpchk

    http-check connect ssl
    http-check send meth GET uri /healthz
    http-check expect status 200

    mode tcp
    balance     roundrobin

{% for address in groups['control_plane'] %}
    server control_plane_{{ loop.index }} {{ address }}:6443 check verify none
{% endfor %}
