[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "==25.0.1"
flake8 = "==7.1.2"
mypy = "==1.15.0"
autoflake = "==2.3.1"
black = "==25.1.0"
isort = "==6.0.1"
ansible-lint = "==25.1.3"
passlib = "==1.7.4"

[packages]
minio = "==7.2.15"
ansible = "==11.3.0"

[requires]
python_version = "3.13"

[scripts]
init = "ansible-galaxy install mrlesmithjr.netplan"
lint = "sh -c 'flake8 --ignore E231 --ignore W503 --max-line-length=110; mypy .; ansible-lint -s --exclude inventory/**/*.yaml'"
format = "sh -c 'autoflake -i --remove-all-unused-imports --remove-unused-variables -r .; black .; isort .'"
playbook = "ansible-playbook -e ansible_sudo_pass=$CLUSTER_PASS -v setup.yaml"
kubeconfig = "ansible-playbook -e ansible_sudo_pass=$CLUSTER_PASS -v kubeconfig.yaml"
