name: Ansible CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    working-directory: ansible

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Task
        uses: arduino/setup-task@v2
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pipenv
          cache-dependency-path: "**/Pipfile.lock"
      - name: Install pipenv
        run: pip install pipenv
      - name: Init environment
        run: task init-ansible
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: "-s --exclude inventory/**/*.yaml"
          working_directory: "ansible"
      - name: Run lint
        run: task lint-ansible
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.PUSHER_APP_ID }}
          private-key: ${{ secrets.PUSHER_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ steps.token.outputs.token }}
      - name: Set up Task
        uses: arduino/setup-task@v2
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pipenv
          cache-dependency-path: "**/Pipfile.lock"
      - name: Install pipenv
        run: pip install pipenv
      - name: Init environment
        run: task init-ansible
      - name: Run format
        run: task format-ansible
      - name: Push
        id: push
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "Run pipenv format"
          branch: ${{ github.head_ref }}
          commit_user_name: ictsc-actions[bot]
          commit_user_email: 154957684+ictsc-actions[bot]@users.noreply.github.com
          commit_author: ictsc-actions[bot] <154957684+ictsc-actions[bot]@users.noreply.github.com>
      - name: Exit with Error If Files Are Changed
        if: steps.push.outputs.changes_detected == 'true'
        run: exit 1
